.item {
    padding: 0 !important;
    a {
        color: #333;
        padding: 5px 15px;
        display: block;
        &.active {
            background: #f1f1f1;
        }
    }

    &.content {
        width: 90%;
    }

    &.trim {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
}
