/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

.block {
    display: block !important;
    margin: 10px 0 !important;
}

.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}